<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>

    <body>
        <h1>Board Game Library~</h1>
        <form method="GET" action="/library/search">
            <table border="2">
                <thead>
                    <tr>
                        <td><h2>Search for a game!</h2></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            Game Name: <input type="text" name="gameName">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Game Id: <input type="text" name="gameId">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button>Search</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
        <form method="GET" action="/library">
            <table border="1">
                <tbody>
                    <tr>
                        <td>
                            <button name="page" value="1">Library</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
        <br>
        <h3>Your search results for <br>
            Name: <span th:text="${searchName}"></span> <br>
            Id: <span th:text="${searchId}"></span>
        </h3>
        <table border="1">
            <thead>
                <tr>
                    <td></td>
                    <td>Name</td>
                    <td>URL</td>
                </tr>
            </thead>
            <tbody>
                <tr th:each="g: ${brdGameList}">
                    <td><img th:src="${g.image}"></td>
                    <td th:text="${g.name}"></td>
                    <td><a th:href="${g.url}"><span th:text="${g.url}"></span>></a></td>
                </tr>
            </tbody>
        </table>
    </body>
</html>